@import 'flag-icons/css/flag-icons.min.css';
@import '@fontsource-variable/public-sans';
@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';


:root {

  --primary-lighter: #C8FAD6;
  --primary-light: #5BE49B;
  --primary-main: #00A76F;
  --primary-dark: #007867;
  --primary-darker: #004B50;
  --primary-contrastText: rgb(255, 255, 255);
  --primary-hover: rgba(0, 167, 111, 0.05);
  --primary-active: rgba(0, 167, 111, 0.08);

  --info-lighter: rgb(202, 253, 245);
  --info-light: rgb(97, 243, 243);
  --info-main: rgb(0, 184, 217);
  --info-dark: rgb(0, 108, 156);
  --info-darker: rgb(0, 55, 104);
  --info-contrastText: rgb(255, 255, 255);
  --info-hover: rgba(0, 184, 217, 0.05);
  --info-active: rgba(0, 184, 217, 0.08);

  --success-lighter: rgb(211, 252, 210);
  --success-light: rgb(119, 237, 139);
  --success-main: rgb(34, 197, 94);
  --success-dark: rgb(17, 141, 87);
  --success-darker: rgb(6, 94, 73);
  --success-contrastText: rgb(255, 255, 255);
  --success-hover: rgba(34, 197, 94, 0.05);
  --success-active: rgba(34, 197, 94, 0.08);

  --warning-lighter: rgb(255, 245, 204);
  --warning-light: rgb(255, 214, 102);
  --warning-main: rgb(255, 171, 0);
  --warning-dark: rgb(183, 110, 0);
  --warning-darker: rgb(122, 65, 0);
  --warning-contrastText: rgb(28, 37, 46);
  --warning-hover: rgba(255, 171, 0, 0.05);
  --warning-active: rgba(255, 171, 0, 0.08);

  --error-lighter: rgb(255, 233, 213);
  --error-light: rgb(255, 172, 130);
  --error-main: rgb(255, 86, 48);
  --error-dark: rgb(183, 29, 24);
  --error-darker: rgb(122, 9, 22);
  --error-contrastText: rgb(255, 255, 255);
  --error-hover: rgba(255, 86, 48, 0.05);
  --error-active: rgba(255, 86, 48, 0.08);

  --grey-50: rgb(252, 253, 253);
  --grey-100: rgb(249, 250, 251);
  --grey-200: rgb(244, 246, 248);
  --grey-300: rgb(223, 227, 232);
  --grey-400: rgb(196, 205, 213);
  --grey-500: rgb(145, 158, 171);
  --grey-600: rgb(99, 115, 129);
  --grey-700: rgb(69, 79, 91);
  --grey-800: rgb(28, 37, 46);
  --grey-900: rgb(20, 26, 33);

  --color-border: var(--grey-300);

  --color-background: rgb(255, 255, 255);
  --color-background-85: rgba(255, 255, 255, 0.85);
  --color-background-25: rgba(255, 255, 255, 0.25);

  --color-foreground: rgb(20,26,33);

  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  
}

:root[data-color-scheme='dark'] {

  --primary-lighter: #C8FAD6;
  --primary-light: #5BE49B;
  --primary-main: #00A76F;
  --primary-dark: #007867;
  --primary-darker: #004B50;
  --primary-contrastText: rgb(255, 255, 255);
  --primary-hover: rgba(0, 167, 111, 0.05);
  --primary-active: rgba(0, 167, 111, 0.08);

  --info-lighter: rgb(202, 253, 245);
  --info-light: rgb(97, 243, 243);
  --info-main: rgb(0, 184, 217);
  --info-dark: rgb(0, 108, 156);
  --info-darker: rgb(0, 55, 104);
  --info-contrastText: rgb(255, 255, 255);
  --info-hover: rgba(0, 184, 217, 0.05);
  --info-active: rgba(0, 184, 217, 0.08);
  
  --success-lighter: rgb(211, 252, 210);
  --success-light: rgb(119, 237, 139);
  --success-main: rgb(34, 197, 94);
  --success-dark: rgb(17, 141, 87);
  --success-darker: rgb(6, 94, 73);
  --success-contrastText: rgb(255, 255, 255);
  --success-hover: rgba(34, 197, 94, 0.05);
  --success-active: rgba(34, 197, 94, 0.08);

  --warning-lighter: rgb(255, 245, 204);
  --warning-light: rgb(255, 214, 102);
  --warning-main: rgb(255, 171, 0);
  --warning-dark: rgb(183, 110, 0);
  --warning-darker: rgb(122, 65, 0);
  --warning-contrastText: rgb(28, 37, 46);
  --warning-hover: rgba(255, 171, 0, 0.05);
  --warning-active: rgba(255, 171, 0, 0.08);

  --error-lighter: rgb(255, 233, 213);
  --error-light: rgb(255, 172, 130);
  --error-main: rgb(255, 86, 48);
  --error-dark: rgb(183, 29, 24);
  --error-darker: rgb(122, 9, 22);
  --error-contrastText: rgb(255, 255, 255);
  --error-hover: rgba(255, 86, 48, 0.05);
  --error-active: rgba(255, 86, 48, 0.08);

  --grey-50: rgb(20, 26, 33);
  --grey-100: rgb(28, 37, 46);
  --grey-200: rgb(69, 79, 91);
  --grey-300: rgb(99, 115, 129);
  --grey-400: rgb(145, 158, 171);
  --grey-500: rgb(196, 205, 213);
  --grey-600: rgb(223, 227, 232);
  --grey-700: rgb(244, 246, 248);
  --grey-800: rgb(249, 250, 251);
  --grey-900: rgb(252, 253, 253);

  --color-border: var(--grey-300);

  --color-background: rgb(20,26,33);
  --color-background-85: rgba(255, 255, 255, 0.85);
  --color-background-25: rgba(255, 255, 255, 0.25);

  --color-foreground: rgb(255, 255, 255);


  --white: rgb(0, 0, 0);
  --black: rgb(255, 255, 255);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100dvh;
  min-height: 100dvh;
  max-height: 100dvh;

  width: 100dvw;
  min-width: 100dvw;
  max-width: 100dvw;

  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  overflow: clip;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  min-height: 100%;
  height: 100%;
  overflow: clip;
  overscroll-behavior: none;
}

*::-webkit-scrollbar {
  display: none;
}


/* APEXCHARTS
---------------------------------------------------------------------------------------------------- */

.apexcharts-canvas {

  /* Tooltip */
  .apexcharts-tooltip {
    min-width: 80px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    color: var(--palette-text-primary);
    box-shadow: var(--customShadows-dropdown);
    background-color: rgba(var(--palette-background-defaultChannel) / 0.9);
  }

  .apexcharts-xaxistooltip {
    border-radius: 10px;
    border-color: transparent;
    backdrop-filter: blur(6px);
    color: var(--palette-text-primary);
    box-shadow: var(--customShadows-dropdown);
    background-color: rgba(var(--palette-background-defaultChannel) / 0.9);
    &::before { border-bottom-color: rgba(var(--palette-grey-500Channel) / 0.16); }
    &::after { border-bottom-color: rgba(var(--palette-background-defaultChannel) / 0.9); }
  }

  .apexcharts-tooltip-title {
    font-weight: 700;
    text-align: center;
    color: var(--palette-text-secondary);
    background-color: var(--palette-background-neutral);
  }

  /* Tooltip: group */
  .apexcharts-tooltip-series-group { padding: 4px 12px; }
  .apexcharts-tooltip-marker { margin-right: 8px; }

  /* Legend */
  .apexcharts-legend { padding: 0; }
  .apexcharts-legend-marker { margin-right: 6px; }
  .apexcharts-legend-text {
    margin-left: 0;
    padding-left: 0;
    line-height: 18px;
  }

}