rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // ------------------------------------------------------------------------------------------------
    // HELPERS
    // ------------------------------------------------------------------------------------------------

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }


    // ------------------------------------------------------------------------------------------------
    // RULES
    // ------------------------------------------------------------------------------------------------

    // Default: deny everything
    match /{allPaths=**} {
      allow read, write: if false;
    }

  }
}
