.container {
  width: 100vw;
  height: calc(100dvh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  display: flex;
  transition: all 500ms;
}

.subNavigation {
  width: 0;
  min-width: 0;
  overflow: hidden;
  transition: width 500ms ease, min-width 500ms ease;
  border-right: 0px solid var(--color-border);
}

.subNavigationOpen {
  width: 220px;
  min-width: 220px;
  border-right-width: 1px;
}

.subNavigationCollapsed {
  width: 80px;
  min-width: 80px;
  border-right-width: 1px;
}

.content {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 75px;
    grid-template-areas: "content" "nav";
  }
  .content{
    grid-area: content;
  }
  .subNavigation {
    display: none;
  }
}