.container {

  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  /* flex-direction: column; */
  overflow: hidden;

}
.container.hasprocesses {

  grid-auto-rows: 48px 1fr;

}


.processes {

  height: 48px;
  width: 100%;
  background-color: var(--grey-100);

  position: relative;

}

.processes > .header {

  display: flex;
  align-items: center;
  flex-direction: row;

}
.processes .others {

  position: absolute;
  z-index: 90;
  top: 48px;
  left: 0;
  background-color: var(--grey-100);

  width: 100%;
  max-height: 0px;
  transition: max-height 750ms , box-shadow 750ms;
  overflow: hidden;
  border-bottom: 1px solid var(--grey-200);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);

}
.processes .others.open {

  max-height: 200px;
  overflow: scroll;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);


}



.process {

  height: 48px;
  width: 100%;
  align-items: center;
  padding: 0 16px;
  display: flex;
  gap: 16px;
  color: var(--grey-600);
  border-bottom: 1px solid var(--grey-200);

}
.process.Processing .status,
.process.Processing .icon {

  color: var(--warning-dark);

}
.process.Reviewing .status,
.process.Reviewing .icon {

  color: var(--secondary-dark);

}
.process.Running .status,
.process.Running .icon {

  color: var(--primary-main);

}
.process.Completed .status,
.process.Completed .icon {

  color: var(--success-dark);

}
.process.Failed .status,
.process.Failed .icon {

  color: var(--error-dark);

}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.process.Processing .icon svg,
.process.Running .icon svg {

  animation: spin 750ms linear 0s infinite forwards;

}

.process .status {

  font-weight: 500;
  width: 80px;

}
.process .icon {

  height: 100%;
  display: flex;
  align-items: center;

}
.process > * {

  color: inherit;
  font-size: .8rem;
  white-space: nowrap;

}
.process > .description {
  flex:1 1 auto;
}




.content {

  flex: 1 1 auto;
  overflow: hidden;

}