.navigation {
  height: 100%;
  min-width: 80px;
  width: 80px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  position: relative;
  border-right: 1px solid var(--color-border);
  transition: all 600ms;
  background-color: var(--color-background);
}
.navigation.expanded {
  min-width: 240px;
  width: 240px;
}

.navigation.sub {
  min-width: 0;
  width: 100%;
  border-right: none;
  container-type: inline-size;
}

.navigation.sub.expanded {
  min-width: 0;
  width: 100%;
}

.subFooter {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  border-top: 1px solid var(--color-border);
}

@container (max-width: 100px) {
  .subFooter {
    justify-content: center;
  }
}

.navigationList {

  width: 100%;
  flex: 1 1 auto;
  overflow: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);

}

@media screen and (max-width: 768px) {
  .navigation {
    grid-area: nav;
    position: relative;
    min-height: 75px;
    width: 100%;
    border-top: 1px solid var(--color-border);
    border-right: none;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
  }

  .navigation.expanded {
    width: 100%;
  }
  
  .navigationList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
    border-bottom: none;
  }
}