.header {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--color-border);
  height: 64px;
  min-height: 64px;
  container-type: inline-size;
}

.text {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

@container (max-width: 100px) {
  .text {
    justify-content: center;
    width: 100%;
  }

  .title,
  .actions {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}