.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list {
  flex: 1;
  overflow: auto;
  min-height: 0;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 16px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 16px;
}

.load_more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
}

.divider {
  height: 1px;
  background-color: var(--palette-divider);
}
