.group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px;
  width: 100%;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.chevron {
  display: flex;
  align-items: center;
  opacity: 0;
  max-width: 0;
  transition: opacity 500ms, max-width 500ms, transform 300ms;
  transform: rotate(0deg);
}

.chevronOpen {
  transform: rotate(90deg);
}

.titleWrapper:hover .chevron {
  opacity: 1;
  max-width: 20px;
}

.title {
  font-size: 12px;
  font-weight: 500;
  color: var(--grey-500);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  transition: color 500ms, transform 500ms;
}

.titleWrapper:hover .title {
  color: var(--grey-800);
}

.itemList {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease;
}

.itemListOpen {
  grid-template-rows: 1fr;
}

.itemListInner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2px;
}